    body {
        text-align: left;
        background-color: #272822;

    }

    .content-table {
        border-collapse: collapse;
        margin: 20px 0;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        margin-left: auto;
        margin-right: auto;
        background-color: #272822;
        font-family: monospace;
    }

    .content-table th,
    .content-table td {
        padding: 5px 5px;
        font-size: 14px;
    }

    /* Attacker-controlled Source */

    .uds {
    background-color: #3e3d32;
        color: #F92672;
    }

    .nds {
        background-color:;
        color:  #a6e22e;
    }

    .cbs {
        background-color: #3e3d32;
        color: #e6db74;
    }


    .sbs {
        background-color: ;
        color: #fd5ff0;
    }

    .hbs {
        background-color: #3e3d32;
        color: #66d9ef;
    }

    /* Injection sinks */

    .eaj {
        background-color: ;
        color: #F92672;
    }

    .his {
        background-color: #3e3d32;
        color: #fd971f;
    }

    .eju {
        background-color: ;
        color: #a1efe4;
    }

    .dxis {
        background-color: #3e3d32;
        color: #e6db74;
    }

    .jqs {
        background-color: ;
        color: #a6e22e;
    }

    table {
        counter-reset: rowNumber;
    }

    table tr>td:first-child {
        counter-increment: rowNumber;
    }

    table tr td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }


    caption {
        font-size: 35px;
        color: #cfcfc2;
        font-family: liberation serif;
    }

    a {
        text-decoration: none;
    }
    .content-table td a:visited {
        color: #cfcfc2;
    }
    a:hover {
        color: white;
        background-color: black;
        text-decoration: underline;
    }