    body {
        text-align: left;
    }

    .content-table {
        border-collapse: collapse;
        margin: 20px 0;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .content-table th,
    .content-table td {
        padding: 5px 5px;
        font-size: 18px;
    }

    .content-table td a:visited {
        color: white;
    }

    /* Attacker-controlled Source */

    .uds {
        background-color: #581845;
        color: white;
    }

    .nds {
        background-color: #5F9EA0;
        color: white;
    }

    .cbs {
        background-color: #BDB76B;
        color: maroon;
    }


    .sbs {
        background-color: #3CB371;
        color: white;
    }

    .hbs {
        background-color: #DEB887;
        color: maroon;
    }

    /* Injection sinks */

    .eaj {
        background-color: #CD5C5C;
        color: #FFFFF0;
    }


    .his {
        background-color: #4682B4;
        color: #ADD8E6P;
    }

    .dxis {
        background-color: #DB7093;
        color: white;
    }

    .eju {
        background-color: #B8860B;
        color: white;
    }
    .jqs {
        background-color: #566573;
        color: white;
    }

    table {
        counter-reset: rowNumber;
    }

    table tr>td:first-child {
        counter-increment: rowNumber;
    }

    table tr td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }


    caption {
        font-size: 35px;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: white;
        background-color: black;
        text-decoration: underline;
    }