    h2 {
        font-size: 30px;
        text-indent: 2%;
        line-height: 2%;
        text-transform: capitalize;
    }

    h3 {
        font-size: 20px;
        text-indent: 2%;
        line-height: 2%;
        text-transform: capitalize;
    }

    a {
        text-decoration: none;
    }

    ul, ol {
        font-size: 18px;

    }

#webapps{
    font-family: monospace;
    font-size: 13px;
}
    a:visited {
        color: #800000;
        background-color: transparent;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        color: white;
        background-color: black;
        text-decoration: underline;
    }