    body {
        text-align: left;
    }

    .content-table {
        text-transform: capitalize;
        border-collapse: collapse;
        margin: 20px 0;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .content-table th,
    .content-table td {
        padding: 1px 1px;
        font-size: 18px;
    }

    .python {
        background-color: #B0C4DE;
    }

    .javascript {
        background-color: #F5DEB3;
    }

    .shell {
        background-color: #900C3F;
        color: white;
        opacity: 0.8;
    }

    .go {
        background-color: #7FBC8F;
    }

    .his {
        background-color: #708090;
        color: white;
    }

    .dxis {
        background-color: #DB7093;
    }

    h2 {
        font-size: 23px;
        text-indent: 3%;
        line-height: 3%;
    }

    a {
        text-decoration: none;
    }
