    body {
        text-align: left;
        background-color: #272822;
        color: #f8f8f2;
        margin-left: auto;
        margin-right: auto;
    }

    .content-table {
        text-transform: capitalize;
        border-collapse: collapse;
        margin: 20px 0;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        background-color: #3e3d32;
    }

    .content-table th,
    .content-table td {
        padding: 1px 1px;
        font-size: 18px;
    }
    .python {
        
        color: #f92672;
    }
    .javascript {
        color: #a6e22e;
    }
    .shell {
        color: #fd971f;
    }
    .go {
            color: #66d9ef;
    }

    .his {
        background-color: #708090;
        color: white;
    }

    .dxis {
        background-color: #DB7093;
    }

    h2 {
        font-size: 23px;
        text-indent: 3%;
        line-height: 3%;
        color: #75715e;
    }

    a {
        text-decoration: none;
    }


    a:visited {
        background-color: transparent;
        text-decoration: none;
        font-weight: bold;
        color: #75715e;
    }