    body {
        background-color: #272822;
        margin-left: auto;
        margin-right: auto;
        font-family: "Ubuntu", sans-serif;

    }

    h2 {
        font-size: 28px;
        text-indent: 2%;
        line-height: 2%;
        text-transform: capitalize;
        color: #3e3d32;
    }

    h3 {
        font-size: 21px;
        text-indent: 2%;
        line-height: 1%;
        color: #3e3d32;
    }

    h3 a:hover {
        color: #a6e22e;
        background-color: #75715e;
        text-decoration: underline;
    }

    h3 a:visited {
        color: #3e3d32;
    }

    div {
        font-size: 15px;
        line-height: 2;
    }

    #ut {
        color: #66d9ef;
    }

    #ut a:visited {
        color: #66d9ef;
    }

    #chromestorage a:visited,
    #chromestorage {
        color: #a6e22e;
    }

    #chromestorage a:hover {
        color: #a6e22e;
        background-color: #3e3d32;
        text-decoration: underline;
    }

    #chromeruntime a:visited,
    #chromeruntime {
        color: #f92672;
    }

    #domproperties, a:visited,
    #domproperties {
        color: #fd971f;;
    }

    #chromeanalyze a:visited,
    #domproperties, #chromeanalyze,
        {
        color: #fd971f;
    }

    #chromecontrolflow a:visited,
    #chromecontrolflow {
        color: #fd5ff0;
    }

    #chromeconfig a:visited,
    #chromeconfig {
        color: #a1efe4;
    }

    #UI a:visited,
    #UI {
        color: #66d9ef;
    }

    img {
        width: 560px;
    }

    a {
        text-decoration: none;
    }

    .ut1 .ut2 {
        float: left;
    }