    body {
        text-align: left;
        background-color: #272822;
        font-family:

    }

    .content-table {
        border-collapse: collapse;
        margin: 20px 0;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        margin-left: auto;
        margin-right: auto;
        background-color: #272822;
        font-family: "Ubuntu", sans-serif;
    }

    .content-table th,
    .content-table td {
        padding: 5px 5px;
        font-size: 14px;
    }

    /* Attacker-controlled Source */

    .uds {
        background-color: #272822;
        color: #F92672;
    }

    .uds a:visited {
        color: #F92672;
    }

    .nds {
        background-color: ;
        color: #a6e22e;
    }

    .nds a:visited {
        color: #a6e22e;
    }

    .cbs {
        background-color: #272822;
        color: #e6db74;
    }

    .cbs a:visited {
        color: #e6db74;
    }

    .sbs {
        background-color: ;
        color: #fd5ff0;
    }

    .sbs a:visited {
        color: #fd5ff0;
    }

    .hbs {
        background-color: #272822;
        color: #66d9ef;
    }

    .hbs a:visited {
        color: #66d9ef;
    }


    /* Injection sinks */

    .eaj {
        background-color: ;
        color: #F92672;
    }

    .eaj a:visited {
        color: #F92672;
    }

    .his {
        background-color: #272822;
        color: #fd971f;
    }

    .his a:visited {
        color: #fd971f;
    }

    .eju {
        background-color: ;
        color: #a1efe4;
    }

    .eju a:visited {
        color: #a1efe4;
    }

    .dxis {
        background-color: #272822;
        color: #e6db74;
    }

    .dxis a:visited {
        color: #e6db74;
    }

    .jqs {
        background-color: ;
        color: #a6e22e;
    }

    .jqs a:visited {
        color: #a6e22e;
    }

    table {
        counter-reset: rowNumber;
    }

    table tr>td:first-child {
        counter-increment: rowNumber;
    }

    table tr td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }


    div {
        color: #cfcfc2;
        font-family: "Ubuntu", sans-serif;
text-align: center;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: white;
        background-color: #272822;
        text-decoration: underline;
    }