/*
$bg0: #272822;
$bg1: #3e3d32;
$bg2: #75715e;
$fg1: #cfcfc2;
$fg2: #f8f8f2;
$red: #f92972;
$blue: #66d9ef;
$cyan: #a1efe4;
$creme: #f8f8f2;
$green: #a6e22e;
$violet: #ae81ff;
$yellow: #e6db74;
$orange: #fd971f;
$magenta: #fd5ff0;
*/    

    body {
        background-color: #272822;
        color: #f8f8f2;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.3;
        font-family: "Ubuntu", sans-serif;
    }

    a {
        text-decoration: none;
    }

    a:visited {
        background-color: transparent;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        color: white;
        background-color: #3e3d32;
        text-decoration: underline;
    }

    a:link {
        color: #e6db74;
    }

    a:active {
        color: orange;
    }

    h2 {
        font-size: 24px;
        text-indent: 2%;
        line-height: 2%;
        text-transform: capitalize;
        color: #3e3d32;
    }

    h3 {
        font-size: 20px;
        text-indent: 2%;
        line-height: 2%;
        text-transform: capitalize;
    }



    ul,
    ol {
        font-size: 16px;
    }

.red,
.red a:visited {
    color: #f92972;
}

.blue,
.blue a:visited {
    color: #66d9ef;
}

.cyan,
.cyan a:visited {
    color: #a1efe4;
}

.creme,
.creme a:visited {
    color: #f8f8f2;
}
.green,
.green a:visited {
    color: #a6e22e;
}
.violet,
.violet a:visited {
    color: #ae81ff;
}

.yellow,
.yellow a:visited {
    color: #e6db74;
}

.orange,
.orange a:visited {
    color: #fd971f;
}

.magenta,
.magenta a:visited {
    color: #fd5ff0;
}



    #domxss101 a:visited,
    #vuln a:visited {
        color: #66d9ef;
    }

    #domxss101,
    #vuln {
        color: #66d9ef;
    }

    #deepsource,
    #deepsource a:visited {
        color: #66d9ef;
    }


    #sast a:visited {
        color: #fd971f;
    }


    #tools a:visited,
    #extensions a:visited {
        color: #fd971f;
    }

    #sast,
    #tools {
        color: #fd971f;
    }

    #domxsstools a:visited,
    #scopes a:visited {
        color: #a6e22e;
    }

    #domxsstools,
    #scopes {
        color: #a6e22e;
    }

    #sastvendorslists {
        color: #a6e22e;
    }
    
    #sastvendorslists a:visited {
        color: #a6e22e;
    }

    #domxssreports a:visited {
        color: #f92972;
    }

    #python,
    #tactics a:visited {
        color: #f92972;
    }


    #domxssreports,
    #tactics {
        color: #f92972;
    }

    p {
        position: relative;
        left: 100px;

    }

    #dast a:visited,
    #prog a:visited,
    #leak a:visited {
        color: #e6db74;
    }

    #dast,
    #prog {
        color: #e6db74;
    }

/*     a:visited {
        color: #a1efe4;
    } */


    #science a:visited {
        color: #a1efe4;
    }


    #science {
        color: #a1efe4;
    }


    #books a:visited {
        color: #fd5ff0;
    }

    #books {
        color: #fd5ff0;
    }

    #history a:visited {
        color: #ae81ff;
    }

    #history {
        color: #ae81ff;
    }


    #startups,
    #startups a:visited {
        color: #cfcfc2;
    }

    #dataflowanalysis,
    #dataflowanalysis a:visited {
        color: #a6e22e;
    }