    body {
        background-color: #272822;
        color: #f8f8f2;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.3;
        font-family: "Ubuntu", sans-serif;
    }

    h2 {
        font-size: 24px;
        text-indent: 2%;
        line-height: 2%;
        text-transform: capitalize;
        color: #3e3d32;
    }

    h3 {
        font-size: 20px;
        text-indent: 2%;
        line-height: 2%;
        text-transform: capitalize;
    }

    a {
        text-decoration: none;
    }

    ul,
    ol {
        font-size: 16px;
    }

    #webapps {
        font-family: monospace;
        font-size: 13px;
    }

    #sast a:visited,
    #vuln a:visited {
        color: #66d9ef;
    }
    #sast,
    #vuln {
        color: #66d9ef;
    }

    #tools a:visited,
    #extensions a:visited {
        color: #fd971f;
    }

    #tools {
        color: #fd971f;
    }

    #scopes a:visited {
        color: #a6e22e;
    }

    #scopes {
        color: #a6e22e;
    }

    #tactics a:visited,
    #python a:visited {
        color: #f92972;
    }


    #tactics {
        color: #f92972;
    }
    #domxsstools a:visited,
    #prog a:visited,
    #leak a:visited {
        color: #e6db74;
    }

    #domxsstools,
    #prog {
        color: #e6db74;
    }

    #science a:visited {
        color: #a1efe4;
    }

    #science {
        color: #a1efe4;
    }

    #books a:visited {
        color: #fd5ff0;
    }

    #books {
        color: #fd5ff0;
    }

    #history a:visited {
        color: #ae81ff;
    }

    #history {
        color: #ae81ff;
    }
    #startups,
    #startups a:visited {
        color: #cfcfc2;
    }
    
    a:visited {
        background-color: transparent;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        color: white;
        background-color: #3e3d32;
        text-decoration: underline;
    }