    body {
        text-align: left;
        background-color: #272822;
        color: #f8f8f2;
        font-family: "Ubuntu", sans-serif;

    }

    a {
        text-decoration: none;
    }

    a:visited {
        background-color: transparent;
        text-decoration: none;
        font-weight: bold;
        color: brown;
    }

    a:hover {
        color: white;
        background-color: #3e3d32;
        text-decoration: underline;
    }

    /*     a:link {
        color: #e6db74;
    }
 */
    h2 {
        font-size: 21px;
        text-indent: 3%;
        line-height: 3%;
        color: #3e3d32;
    }

    a {
        text-decoration: none;
    }

    .content-table-papers {
        text-transform: capitalize;
        border-collapse: collapse;
        margin: 20px 0;
        table-layout: fixed;
        width: 1200px;
        line-height: 23px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        margin-left: auto;
        margin-right: auto;
        font-family: "Ubuntu", sans-serif;
    }

    .content-table-papers tbody tr:nth-of-type(even) {
        background-color: #3e3d32;
    }

    caption {
        font-size: 16px;
        color: #f92972;
    }

    .orange,
    .orange a:visited {
        color: #fd971f;
    }

    .quotes a:visited {
        background-color: transparent;
        text-decoration: none;
        color: #f92972;
    }

    .blue,
    .blue a:visited {
        color: #66d9ef;
    }

    .red,
    .red a:visited {
        color: #f92972;
    }

    .blue,
    .blue a:visited {
        color: #66d9ef;
    }

    .cyan,
    .cyan a:visited {
        color: #a1efe4;
    }

    .creme,
    .creme a:visited {
        color: #f8f8f2;
    }

    .green,
    .green a:visited {
        color: #a6e22e;
    }

    .violet,
    .violet a:visited {
        color: #ae81ff;
    }

    .yellow,
    .yellow a:visited {
        color: #e6db74;
    }

    .title {
        width: 500px;
    }


    .supervisor,
    .authors {
        width: 250px;
    }

    .country {
        width: 70px;
    }

    .page,
    .year {
        width: 50px;
    }

    .content-table {
        text-transform: capitalize;
        border-collapse: collapse;
        margin: 20px 0;
        min-width: 800px;
        line-height: 23px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        background-color: #3e3d32;
        margin-left: auto;
        margin-right: auto;
        font-family: "Ubuntu", sans-serif;
    }

    .content-table td {
        padding: 1px 1px;
        font-size: 16px;
    }

    .python {
        color: #f92672;
    }

    .javascript a:visited {
        color: #a6e22e;
    }

    .javascript {
        color: #a6e22e;
    }

    .shell {
        color: #fd971f;
    }

    .shell a:visited {
        color: #fd971f;
    }

    .go {
        color: #66d9ef;
    }

    .go a:visited {
        color: #66d9ef;
    }

    .his {
        background-color: #708090;
        color: #3e3d32;
    }

    .dxis {
        background-color: #DB7093;
    }